body {
    height: 100vh;

}

.cv {
    
    height: 100vh;

}

.one-cv {
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 0px;
    width: 48vw;
    

}

.image-wrapper {
    text-align: center;
}

img {  
    height: 100px; width: 100px;
}

table {
    width: 48vw;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}